<h2>Heroes</h2>
<div class="d-flex flex-wrap">
  <ul class="heroes">
    <li *ngFor="let hero of heroes">
      <a (click)="viewHero(hero)">
        <span class="badge" [ngClass]="hero.unlocked ? 'unlocked' : ''">Cost: {{hero.cost}}</span> {{hero.name}}
      </a>
    </li>
  </ul>
  @if (currentViewHero) {
    <div class="flex-1">
      <app-hero-detail [hero]="currentViewHero"></app-hero-detail>
    </div>
    <div class="inventory flex-1">
      <app-inventory [hero]="currentViewHero"></app-inventory>
    </div>
  }
</div>

